    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333;
        color: #eee;
      }
      a {
        color: #88f;
      }
      /* Add more dark mode styles for other elements */
    }